export AUTOMATION_WORKER_ENABLED=true
export AUTOMATION_MAX_CONCURRENCY=1
export GITHUB_API_BASE_URL="https://api.github.com"
export SPRITE_API_BASE_URL="https://api.sprites.dev"
export SPRITE_NAME="hello-world"
export SPRITE_WORKDIR="/home/sprite"

export $(op inject -i .env.tpl --account P3MXEKPEE5HCRFXAF5ICBT2WYU | xargs)
